body {
  background-image: url("http://blog.hostbaby.com/wp-content/uploads/2014/03/Trees_1400x900-1024x658.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  text-align: center;
  color: #a5c1bd;
  font-size: 3.0em;
  text-shadow: -2px 0 black;
  font-family: 'Lobster Two', cursive;
  font-size: 80px;
}

p {
  color: black; 
  font-size: 16px;
  margin: 15px;
  text-align: center;
  text-shadow: 0px 2px 2px #FFF;
}

a, a:visited {
  text-decoration: none; 
  color: #cdc2ac;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

ul li {
  display: inline-table;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  background-color: #222;
  border-radius: 5px;
  font-family: 'Orbitron', sans-serif;
}

ul li a {
  padding: 16px;
  border-radius: 30px;
  box-shadow: -5px -0px 90px -5px #FFF;
}


li a:hover:not(.active) {
  background-color: #555;
 
}

.active {
  background-color: #FFF;
}
  
footer {
  text-align: center;
  margin: 20px;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
}
 
img {
