img {
    width: 100%;
    height: 300px;
    margin-top: 150;
}
h1 {
  font-style: italic;
  font-size: 100%;
}
ul {
    margin-top: 30px;
    background-color: #898989; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
ul li {
    padding: 20px;
   
    display: inline-block;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}  
ul li a{
    margin: 10px;
    padding: 16px 14px;
    color: white;
    text-decoration: none;
    font-size: 19px;  
}
    
